<a href="https://colab.research.google.com/github/Lucas-procopio/Data-Analysis/blob/main/Unicorns_case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Reading data
data_set = pd.read_csv("Startups+in+2021+end.csv")

In [ ]:
# Looking Dimension
data_set.shape

(936, 8)

In [ ]:
# First files
data_set.head()

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors
0,0,Bytedance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,1,SpaceX,$100.3,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
3,3,Klarna,$45.6,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita..."
4,4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [ ]:
# Columns
data_set.columns

Index(['Unnamed: 0', 'Company', 'Valuation ($B)', 'Date Joined', 'Country',
       'City', 'Industry', 'Select Investors'],
      dtype='object')

In [ ]:
# Renaming
data_set.rename( columns={
    'Unnamed: 0': 'Id',
    'Company': 'Empresa',
    'Valuation ($B)' : 'Valor ($)',
    'Date Joined' : 'Data de Adesão',
    'Country' : 'Pais',
    'City' : 'Cidade',
    'Industry' : 'Setor',
    'Select Investors' : 'Investidores',
}, inplace=True ) # Inplace parameter is used to imput changes on dataset origin

In [ ]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              936 non-null    int64
 1   Empresa         936 non-null    object
 2   Valor ($)       936 non-null    object
 3   Data de Adesão  936 non-null    object
 4   Pais            936 non-null    object
 5   Cidade          921 non-null    object
 6   Setor           936 non-null    object
 7   Investidores    935 non-null    object
dtypes: int64(1), object(7)
memory usage: 58.6+ KB

In [1]:
# Couting quantity data is null
data_set.isnull().sum()

NameError: ignored

In [ ]:
# Imput to graph
sns.heatmap( data_set.isnull() )

NameError: ignored

In [4]:
# Imput to graph more complex
plt.figure( figsize=(15,6))
plt.title('Analiando Campos Nulos')
sns.heatmap( data_set.isnull(), cbar=False); # cbar is used to remove scalas bar 
# When we are plotting a graph, if we used to ; in the end to comand,
# we'll get only a figure without text closer

NameError: ignored